/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-black);
}

/* palette */

:root {
  --font-black: #140604;
  --font-lighter-grey: #d3c7c7;
  --font-light-grey: #756e6e;
  --font-dark-grey: #484545;
  --primary-white: #fff7f1;
  --secondary-white: #ffffff;
  --primary-red: #cc390e;
  --secondary-red: #952c0c;
}

/* scrollbar */


/* Seleziona l'intera barra di scorrimento */
::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

/* Colore e stile della "traccia" della scrollbar */
::-webkit-scrollbar-track {
  background: var(--primary-white); 
  border-radius: 10px; 
}

/* Colore e stile del "thumb" (la parte scorrevole) della scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--font-light-grey); 
  border-radius: 10px; 
}


/* fonts */

.base {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.tiny-text {
  font-size: 0.9rem;
  color: var(--font-light-grey);
}

.font-my-red {
  color: var(--primary-red) !important;
}

.font-my-grey {
  color: var(--font-light-grey) !important;
}

/* body */

.bg-my-primary {
  background-color: var(--primary-white) !important;
}


/* dessert */

.add-to-cart {
  bottom: -5px; 
}

.icon-white {
  color: var(--secondary-white);
}

.add-to-cart-btn {
  border: 2px solid var(--font-light-grey);
}

.add-to-cart-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.card.position-relative:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}


/* cart */

.sticky-container {
  flex: 1;
}

.sticky-cart {
  position: sticky;
  top: 0;
  z-index: 999;
}

.carbon-adv {
background-color: var(--primary-white) !important;
}

.btn-red {
  background-color: var(--secondary-red) !important;
}

.btn-red:hover {
  background-color: var(--primary-red) !important;
  transform: scale(1.1);
  transition: all 0.5s;
}

.remove-item-btn > img {
  width: 22px;
  height: 22px;
}


.remove-item-btn:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.line {
  border-bottom: 2px solid var(--font-lighter-grey);

}

.x{
  border: 2px solid var(--font-lighter-grey);
  border-radius: 50px;
  padding: 2px;
}

/* modale */


.close-btn {
  background-color: var(--font-dark-grey) !important;
}

.close-btn:hover {
  background-color: var(--font-light-grey) !important;
  transform: scale(1.1);
  transition: all 0.5s;
}

#animation-cart {
  animation: modalSpawn 0.2s linear;
}


@keyframes modalSpawn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* media queries */


