/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-black);
}

/* palette */

:root {
  --font-black: #140604;
  --font-light-grey: #756e6e;
  --primary-white: #fff7f1;
  --secondary-white: #ffffff;
  --primary-red: #cc390e;
  --secondary-red: #952c0c;
}

/* fonts */

.base {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

.tiny-text {
  font-size: 0.9rem;
  color: var(--font-light-grey);
}

/* body */

.bg-my-primary {
  background-color: var(--primary-white) !important;
}


/* dessert */

.add-to-cart {
  bottom: -5px;
  left: 50px;
}

.add-to-cart-btn {
  border: 2px solid var(--font-light-grey);
}

.add-to-cart-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}


/* cart */

.adv-wrapper {
  background-color: var(--secondary-white);}
